* {
  cursor: url(http://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), auto !important;
}

html {
  background: url("https://png.pngtree.com/element_our/md/20180206/md_5a794c39cb442.jpg") no-repeat center center fixed;
  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}
.navbar {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;

}

.navbar a {
  font-family: "Fira Code", monospace;
  float: center;
  display: block;
  color: #edfffa;
  padding: 1px 30px;
  text-decoration: none;
  font-size: 14.5px;
}
