
html {
  background: url("https://png.pngtree.com/element_our/md/20180206/md_5a794c39cb442.jpg") no-repeat center center fixed;
  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}
.navbar {
  overflow: hidden;
  background-color: #FF1493;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;

}
